/*  your css code here. If applicable */
 body {
            background-color: #f5f5f5;
        }

        .header {

            background-color: #011e29;
            color: white;
            height: 100px;
            font-size: 30px;
           text-align: center;
            padding-top:2px;
			
        }
        main>section{
            display: flex;
            justify-content:center;
           
        }
        .latest-news-section{
            background-color: white;
            margin-top:10px;
            border-radius:15px;
            margin-left:30px;
            margin-bottom:800px;
            width:400px;
            text-align: center;
            padding-top:15px;
        }
        .main-article{
            background-color: white;
            margin-top:10px;
            border-radius:15px;
            margin-left:10px;
            margin-right:10px;
            text-align: center;
            padding-top:15px;
            padding-left:20px;
            padding-right:20px;
            width:1300px;
            margin-bottom:600px;
            

        }
        .pictorial-news-section{
            background-color: white;
            margin-top:10px;
            border-radius:15px;
            text-align: center;
            padding-top:15px;
            margin-right:30px;
        }
